#myCarousel {
  width: 100%;
  margin: auto;
  height: 300px; /* Adjust height as needed */
}

.carousel-inner {
  height: 100%;
}

.item {
  -webkit-transform: translateX(0) translateY(-100%);
  -ms-transform: translateX(0) translateY(-100%);
  transform: translateX(0) translateY(-100%);
  position: relative;
  height: 100%;
}

.item h4 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.item p {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.login-form-container {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  background-color: #f5f5f5;
  z-index: 9999;
  overflow-y: scroll;
  transition: right 0.3s ease-in-out;
}

.login-form-container.show {
  right: 0;
}

@media (max-width: 767px) {
  .login-form-container {
    width: 100%;
    right: -100%;
    left: 0;
  }

  .login-form-container.show {
    right: 0;
  }
}
